body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: black;
}

.topnavAb a {
  color: #e4e4e4;
  margin-right: 4vw;
  margin-bottom: 5vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnavAb a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #e4e4e4;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.headingAb {
  position: relative;
  display: flex;
  left: 0;
  font-weight: 600;
  font-size: 3rem;
  color: #e4e4e4;
}

.introAb {
  position: relative;
  display: flex;
  margin-top: 5vh;
  left: 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #e4e4e4;
}

.abhLine {
  float: left;
  height: 2px;
  width: 76vw;
  background-color: #e4e4e4;
  margin-bottom: 12vh;
  margin-top: 5vh;
}

.aboutGallery {
  position: relative;
  float: left;
  display: block;
  width: 76vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10px;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-bottom: 10vh;
}

.abLinks {
  float: left;
  width: 40vw;
  left: 0;
  padding-bottom: 5vh;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #e4e4e4;
  margin-left: 2vw;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5vh;
}

/* media query */

@media only screen and (max-width: 768px) {
  .aboutGallery {
    width: auto;
    margin-right: 10vw;
    margin-left: 10vw;
    align-self: center;
  }

  .introAb {
    width: 100%;
  }

  .abLinks {
    left: 0;
    padding-bottom: 5vh;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 2vw;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 480px) {
  .headingAb {
    font-size: 2.6rem;
    color: #e4e4e4;
  }

  .introAb {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .aboutGallery {
    width: auto;
    margin-right: 8vw;
    margin-left: 8vw;
    align-self: center;
  }

  .abLinks {
    width: 40vw;
    left: 0;
    padding-bottom: 5vh;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-left: 2vw;
    margin-bottom: 5vh;
  }
}
