.emw {
  background-color: #98cec7;
}

/* .divBlockE {
    position: relative;
    display: flex;
    width: 65%;
    height: 45vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
    float: left;
    margin-bottom: 0;
  } */

.headingE {
  position: relative;
  display: flex;
  margin-top: 5vh;
  left: 0;
  font-weight: 600;
  font-size: 3rem;
  color: black;
}

.introE {
  position: relative;
  display: flex;
  width: 80%;
  margin-top: 5vh;
  left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: black;
}

.topnavE a {
  color: black;
  margin-right: 4vw;
  margin-bottom: 5vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnavE a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.galleryE {
  position: relative;
  float: left;
  display: block;
  width: 76vw;
  margin-left: 12vw;
  margin-right: 12vw;
  padding-top: 10px;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-bottom: 10vh;
}

.galleryItemE {
  float: left;
  margin-bottom: 5vh;
}

.subheadE {
  float: left;
  width: 60vw;
  left: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: 600;
}

.bodyE {
  float: left;
  width: 60vw;
  left: 0;
  padding-top: 0vh;
  padding-bottom: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.hLine {
  float: left;
  height: 2px;
  width: 75vw;
  background-color: black;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#eCover {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/emwLogoCover.svg);
  width: 75vw;
  height: auto;
  margin-bottom: 2vh;
}

#EGoals {
  float: left;
  width: 60vw;
  left: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

#eLogo {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/logos.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
  left: 0;
}

#eMoodboard {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/moodboard.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
  left: 0;
}

#eColor {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/colorType.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
  left: 0;
}

#eBC {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/bc.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
  left: 0;
}

#eWebsite1 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/website1.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
  left: 0;
}

#eWebsite2 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/website2.jpg);
  width: 75vw;
  height: auto;
  left: 0;
}

#eMobile {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/mobileMockup.jpg);
  width: 75vw;
  height: auto;
  left: 0;
}

/* media query */

/* @media only screen and (max-width: 1220px) {
  .divBlockE {
    width: 80%;
    height: 50vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .headingE {
    top: 20%;
    font-size: 1.7rem;
  }

  .introE {
    font-size: 1em;
    line-height: 1.5rem;
  }
} */

@media only screen and (max-width: 893px) {
  /* .divBlockE {
    width: 80%;
    height: 60vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }
  .footerNextE a {
    margin-right: 8vw;
    width: 10vw;
    height: 8vh;
  } */
}

@media only screen and (max-width: 768px) {
  .galleryE {
    width: auto;
    margin-right: 10vw;
    margin-left: 10vw;
    align-self: center;
  }

  .introE {
    width: 100%;
  }
}

@media only screen and (max-width: 605px) {
  /* .divBlockE {
    margin-left: 8vw;
  }
  .headingE {
    font-size: 1.2rem;
  }

  .topnavE a {
    font-size: 0.8em;
  }

  .introE {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 10%;
  } */

  #EGoals {
    width: 65vw;
    left: 0;
    padding-bottom: 5vh;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #eCover {
    width: 80vw;
    height: auto;
    padding-bottom: 5vh;
  }
  .bodyE {
    float: left;
    width: 60vw;
    left: 0;
    padding-top: 0vh;
    padding-bottom: 5vh;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    font-family: "Karla", sans-serif;
    font-weight: 400;
  }
}

@media only screen and (max-width: 480px) {
  .introE {
    font-size: 1em;
    line-height: 1.5rem;
  }

  .headingE {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .bodyE {
    width: 70vw;
  }
}
