/* this style sheet is meant to replace style css sheet. just didn't
copy and paste to swap. this is meant to be paired with index. */

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.row {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 12vw;
  padding-right: 12vw;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* column classes */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

#company {
  color: white;
}

#company:hover {
  color: red;
  text-decoration: none;
}

.topnav a {
  color: #e4e4e4;
  margin-right: 4vw;
  margin-bottom: 5vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnav a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*.divBlock {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 200px;
  margin-left: 10vw;
  margin-top: 3vh;
  float: left;
  margin-bottom: 5vh;
} */

.heading {
  position: relative;
  display: flex;
  left: 0;
  margin-top: 5vh;
  font-weight: 600;
  font-size: 3rem;
  color: #e4e4e4;
}

.intro {
  position: relative;
  display: flex;
  margin-top: 5vh;
  left: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #e4e4e4;
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 8vh;
  margin-left: 12vw;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.footerNext {
  position: fixed;
  display: flex;
  float: right;
  right: 0;
  bottom: 0;
  width: 10vw;
  height: 8vh;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

/* .sidenav {
  height: 100%;
  width: 30%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: black; 
  overflow-x: hidden;
  padding-top: 20px;
} */

.gallery {
  position: relative;
  float: right;
  display: block;
  width: 85%;
  margin-right: 12vw;
  padding-top: 10px;
  text-align: right;
  justify-content: right;
  align-items: right;
}

.galleryItem {
  float: right;
  margin-bottom: 5vh;
}

.galleryName a {
  margin-top: 1vh;
  margin-bottom: -10px;
  color: #e4e4e4;
  font-size: 2rem;
}

.galleryName a:hover {
  color: red;
  text-decoration: none;
}

.galleryType {
  font-weight: 500;
  font-size: 1rem;
  color: #e4e4e4;
}

.workHeading {
  font-weight: 600;
  font-size: 3rem;
  color: #e4e4e4;
  text-align: right;
  float: right;
  margin-top: 3vh;
  padding-top: 10px;
}

#ml {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/ml/mockupHero.jpg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#ml:hover {
  opacity: 0.5;
}

#jjd {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/signage/mockup@2x.jpg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#jjd:hover {
  opacity: 0.5;
}

#nf {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/NextFit/nfCover.svg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#nf:hover {
  opacity: 0.5;
}

#emw {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/cover.jpg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#emw:hover {
  opacity: 0.5;
}

#spotify {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify1.svg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#spotify:hover {
  opacity: 0.5;
}

#shedd {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/sheddPattern.png);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#shedd:hover {
  opacity: 0.5;
}

#persona {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/persona/cover.jpg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#persona:hover {
  opacity: 0.5;
}

#kvm {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/kvm/ticketsMockup.png);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
  opacity: 1;
}

#kvm:hover {
  opacity: 0.5;
}

/* media query */

@media only screen and (max-width: 768px) {
  .row {
    margin-left: 10vw;
    padding-right: 12vw;
  }

  .footer {
    margin-left: 10vw;
  }

  .gallery {
    width: auto;
    margin-right: 10vw;
    margin-left: 10vw;
    align-self: center;
  }

  #ml {
    width: 100%;
    height: 350px;
  }

  #jjd {
    width: 100%;
    height: 350px;
  }

  #nf {
    width: 100%;
    height: 350px;
  }

  #emw {
    width: 100%;
    height: 350px;
  }

  #spotify {
    width: 100%;
    height: 350px;
  }

  #shedd {
    width: 100%;
    height: 350px;
  }

  #persona {
    width: 100%;
    height: 350px;
  }

  #kvm {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .heading {
    font-size: 2.6rem;
    color: #e4e4e4;
  }

  .intro {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .row {
    margin-left: 8vw;
    padding-right: 8vw;
  }

  .footer {
    margin-left: 8vw;
  }

  .gallery {
    width: auto;
    margin-right: 8vw;
    margin-left: 8vw;
    align-self: center;
  }

  #ml {
    width: 100%;
    height: 250px;
  }

  #jjd {
    width: 100%;
    height: 250px;
  }

  #nf {
    width: 100%;
    height: 250px;
  }

  #emw {
    width: 100%;
    height: 250px;
  }

  #spotify {
    width: 100%;
    height: 250px;
  }

  #shedd {
    width: 100%;
    height: 250px;
  }

  #persona {
    width: 100%;
    height: 250px;
  }

  #kvm {
    width: 100%;
    height: 250px;
  }
}
