.shedd {
  background-color: white;
}

.divBlockA {
  position: relative;
  display: flex;
  width: 65%;
  height: 50vh;
  min-height: 200px;
  margin-left: 10vw;
  margin-top: 3vh;
  float: left;
  margin-bottom: 0;
}

.headingA {
  position: absolute;
  top: 20%;
  left: 0;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

.introA {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.topnavA a {
  color: black;
  margin-right: 4vw;
  margin-top: 3vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnavA a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.galleryA {
  position: relative;
  float: left;
  display: block;
  width: 85%;
  margin-left: 8vw;
  padding-top: 0px;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-bottom: 10vh;
}

.galleryItemA {
  float: left;
  margin-bottom: 5vh;
}

#aCover {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify1.svg);
  width: 55vw;
  height: auto;
  margin-left: 2vw;
  margin-bottom: 10vh;
}

.aGoals {
  float: left;
  width: 40vw;
  left: 0;
  padding-bottom: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  margin-left: 2vw;
  font-family: "Courier New", Courier, monospace;
}
.hLine {
  float: left;
  height: 2px;
  width: 65vw;
  background-color: black;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#audienceAnalysis {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/audienceAnalysis.jpg);
  width: 45vw;
  height: auto;
}

#competitor {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/competitor.jpg);
  width: 75vw;
  height: auto;
}

#moodboardA {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/sheddMoodboards.svg);
  width: 75vw;
  height: auto;
}

#aLogos{
    float: left;
    object-fit: cover;
    background-repeat: no-repeat;
    content: url(./images/shedd/logos.jpg);
    width: 70vw;
    height: auto;
}

#aColor {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/shedd2.png);
  width: 75vw;
  height: auto;
}

#aType {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/shedd/typography.jpg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
}

#sScreen1 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify2.svg);
  width: 75vw;
  height: auto;
}

#sScreen2 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify3.svg);
  width: 75vw;
  height: auto;
}

#sScreen3 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify4.svg);
  width: 75vw;
  height: auto;
}

#sScreen4 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify5.svg);
  width: 75vw;
  height: auto;
}

#sScreen5 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify6.svg);
  width: 75vw;
  height: auto;
}

#sScreen6 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify7.svg);
  width: 75vw;
  height: auto;
}

#sScreen7 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify8.svg);
  width: 75vw;
  height: auto;
}

/* media query */

@media only screen and (max-width: 1220px) {
  .divBlockS {
    width: 80%;
    height: 50vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .headingS {
    top: 20%;
    font-size: 1.7rem;
  }

  .introS {
    font-size: 1em;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 893px) {
  .divBlockS {
    width: 80%;
    height: 60vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }
  .footerNextS a {
    margin-right: 8vw;
    width: 10vw;
    height: 8vh;
  }
}

@media only screen and (max-width: 605px) {
  .divBlockS {
    width: 80%;
    height: 60vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .headingS {
    top: 15%;
    font-size: 1.5rem;
  }

  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 10%;
  }

  #sGoals {
    width: 65vw;
    left: 0;
    padding-bottom: 10vh;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 469px) {
  .divBlockS {
    margin-left: 8vw;
  }
  .headingS {
    font-size: 1.2rem;
  }

  .topnavS a {
    font-size: 0.8em;
  }

  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 10%;
  }

  #sCover {
    width: 70vw;
    height: auto;
  }

  #sGoals {
    width: 65vw;
    left: 0;
    padding-bottom: 8vh;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .gallerys {
    margin-bottom: 6vh;
  }
}

@media only screen and (max-width: 378px) {
  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 0;
  }
}
