.spotify {
  background-color: #353434;
}

.headingS {
  position: relative;
  display: flex;
  margin-top: 5vh;
  left: 0;
  font-weight: 600;
  font-size: 3rem;
  color: white;
}

.introS {
  position: relative;
  display: flex;
  width: 80%;
  left: 0;
  margin-top: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: white;
}

.topnavS a {
  color: white;
  margin-right: 4vw;
  margin-bottom: 5vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnavS a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.galleryS {
  position: relative;
  float: left;
  display: block;
  width: 76vw;
  margin-left: 12vw;
  margin-right: 12vw;
  padding-top: 10px;
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-bottom: 10vh;
}

.galleryItemS {
  float: left;
  margin-bottom: 5vh;
}

.sphLine {
  float: left;
  height: 2px;
  width: 75vw;
  background-color: #e3e3e3;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#sCover {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify1.svg);
  width: 75vw;
  height: auto;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

#sGoals {
  float: left;
  width: 60vw;
  left: 0;
  padding-bottom: 10vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.subheadS {
  float: left;
  width: 60vw;
  left: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 600;
}

#sCompetitor {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/competitor.svg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
}

#sResearchKaraoke {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/researchKaraoke.svg);
  width: 75vw;
  height: auto;
}

#sResearchSpotify {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/researchSpotify.svg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
}

#sArchetype {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/archetype.svg);
  width: 75vw;
  height: auto;
}

#sUserFlow {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/userFlow.svg);
  width: 75vw;
  height: auto;
  margin-bottom: 5vh;
}

#sScreen1 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify2.svg);
  width: 75vw;
  height: auto;
}

#sScreen2 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify3.svg);
  width: 75vw;
  height: auto;
}

#sScreen3 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify4.svg);
  width: 75vw;
  height: auto;
}

#sScreen4 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify5.svg);
  width: 75vw;
  height: auto;
}

#sScreen5 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify6.svg);
  width: 75vw;
  height: auto;
}

#sScreen6 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify7.svg);
  width: 75vw;
  height: auto;
}

#sScreen7 {
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/spotify/spotify8.svg);
  width: 75vw;
  height: auto;
}

/* media query */

@media only screen and (max-width: 1220px) {
  .divBlockS {
    width: 80%;
    height: 50vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .headingS {
    top: 20%;
    font-size: 1.7rem;
  }

  .introS {
    font-size: 1em;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 893px) {
  .divBlockS {
    width: 80%;
    height: 60vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }
  .footerNextS a {
    margin-right: 8vw;
    width: 10vw;
    height: 8vh;
  }
}

@media only screen and (max-width: 605px) {
  .divBlockS {
    width: 80%;
    height: 60vh;
    min-height: 200px;
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .headingS {
    top: 15%;
    font-size: 1.5rem;
  }

  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 10%;
  }

  #sGoals {
    width: 65vw;
    left: 0;
    padding-bottom: 10vh;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 469px) {
  .divBlockS {
    margin-left: 8vw;
  }
  .headingS {
    font-size: 1.2rem;
  }

  .topnavS a {
    font-size: 0.8em;
  }

  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 10%;
  }

  #sCover {
    width: 70vw;
    height: auto;
  }

  #sGoals {
    width: 65vw;
    left: 0;
    padding-bottom: 8vh;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .galleryS {
    margin-bottom: 6vh;
  }
}

@media only screen and (max-width: 378px) {
  .introS {
    font-size: 0.8em;
    line-height: 1.2rem;
    bottom: 0;
  }
}
