body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: black;
}

.topnav a {
  color: #e4e4e4;
  margin-right: 4vw;
  margin-top: 3vh;
  float: left;
  padding: 0px -40px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnav a:hover {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #e4e4e4;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.divBlock {
  position: relative;
  display: flex;
  width: 70%;
  height: 50vh;
  min-height: 200px;
  margin-left: 10vw;
  margin-top: 3vh;
  float: left;
  margin-bottom: 5vh;
}

.heading {
  position: absolute;
  top: 20%;
  left: 0;
  font-weight: 600;
  font-size: 3rem;
  color: #e4e4e4;
}

.intro {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #e4e4e4;
}

/* .sidenav {
  height: 100%;
  width: 30%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: black; 
  overflow-x: hidden;
  padding-top: 20px;
} */

.gallery {
  position: relative;
  float: right;
  display: block;
  width: 85%;
  margin-right: 10vw;
  padding-top: 10px;
  text-align: right;
  justify-content: right;
  align-items: right;
}

.galleryItem {
  float: right;
  margin-bottom: 5vh;
}

.galleryName {
  margin-top: 1vh;
  margin-bottom: -15px;
  color: #e4e4e4;
}

.galleryType {
  font-weight: 500;
  font-size: 1rem;
  color: #e4e4e4;
}

.workHeading {
  font-weight: 600;
  font-size: 3rem;
  color: #e4e4e4;
  text-align: right;
  float: right;
  margin-right: 10vw;
  margin-top: 3vh;
  padding-top: 10px;
}

#nf {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/NextFit/nfPreview.png);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
}

#emw {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/emw/cover.jpg);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
}

#spotify {
    float: right;
    object-fit: cover;
    background-repeat: no-repeat;
    content: url(./images/spotify/cover.png);
    width: 55vw;
    height: 500px;
    margin-bottom: 2vh;
  }

#shedd {
  float: right;
  object-fit: cover;
  background-repeat: no-repeat;
  content: url(./images/sheddPattern.png);
  width: 55vw;
  height: 500px;
  margin-bottom: 2vh;
}
