/* fonts */
@font-face {
    font-family: PP Mori;
    src: url(../assets/fonts/Mori/PPMori-Regular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: PP Mori;
    src: url(../assets/fonts/Mori/PPMori-RegularItalic.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: PP Mori;
    src: url(../assets/fonts/Mori/PPMori-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: PP Mori;
    src: url(../assets/fonts/Mori/PPMori-SemiBoldItalic.otf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: PP Mori;
    src: url(../assets/fonts/Mori/PPMori-ExtraBold.otf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Canela;
    src: url(../assets/fonts/Canela/CANELA-BOLD.OTF);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Canela;
    src: url(../assets/fonts/Canela/CANELA-BOLDITALIC.OTF);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: PP Neue Machina;
    src: url(../assets/fonts/PPNeueMachina-InktrapUltrabold.otf);
    font-weight: 800;
    font-style: italic;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* text styles */
h1 {
    color: var(--textColor);
    font-family: var(--sansSerifFont);
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}
h2 {
    color: var(--textColor);
    font-family: var(--sansSerifFont);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 60px */
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
    margin: 5px 0px;
}
h3 {
    color: var(--textColor);
    font-family: var(--sansSerifFont);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 30px */
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}
p {
    color: var(--textColor);
    font-family: var(--sansSerifFont);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: var(--letterSpacing);
    margin: 1em 0;
}
a:link,
a:visited {
    color: var(--textColor);
    text-decoration: none;
}
a:hover,
a:active {
    color: var(--accentColor);
}

.serif {
    font-family: var(--serifFont);
    font-weight: 700;
    line-height: 96px;
}

.project-page h1 {
    line-height: 115%; /* 110.4px */
}
.project-page h2 {
    font-size: 40px;
    line-height: 120%; /* 48px */
    text-transform: none;
}
.project-page h3 {
    line-height: 250%; /* 60px */
}
.project-page h4 {
    color: var(--accentColor);
    font-family: PP Mori;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 18px */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* misc element styles */
img {
    width: 100%;
}
button,
.nav-btn {
    background-color: var(--whiteColor);
    color: var(--textColor);
    padding: 3px 9px;
    font-family: var(--sansSerifFont);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid var(--blackColor);
}
button a:link,
button a:visited,
.nav-btn:link,
.nav-btn:visited {
    color: var(--textColor);
}
button:hover,
button:active,
.nav-btn:hover,
.nav-btn:active {
    /* text-decoration: none; */
    background-color: var(--textColor);
    color: var(--whiteColor);
}
hr {
    border: 0.5px solid var(--textColor);
    margin: 15px 0px;
}

/* div section styles */
body {
    background-image: url(../assets/gradientBG.png);
    background-attachment: fixed;
}
.project-page {
    background-image: none;
    background-color: var(--whiteColor);
    /* background-color: cornflowerblue; */
}
header {
    top: 0px;
    margin: var(--navMarginY) var(--marginX) 0px var(--marginX);
}
header,
footer {
    /* background-color: red; */
    position: fixed;
    width: calc(100% - var(--marginX) * 2);
    z-index: 3;
}
nav {
    display: flex;
}
nav :last-child {
    margin-left: auto;
}
#play-btn {
    color: var(--accentColor);
    font-family: var(--playFont);
    font-weight: 800;
    letter-spacing: var(--letterSpacing);
    border: 1px solid var(--accentColor);
}
#play-btn:hover,
#play-btn:active {
    background-color: var(--accentColor);
    color: var(--whiteColor);
}
footer {
    bottom: 0px;
    margin: 0px var(--marginX) var(--navMarginY) var(--marginX);
}
footer div {
    display: flex;
    justify-content: space-between;
}

#menu-btn:hover,
#menu-btn:active,
#work-btn:hover,
#work-btn:active {
    cursor: pointer;
}
#menu-container {
    background-image: url(../assets/gradientBG.png);
    position: fixed;
    display: grid;
    grid: 1fr/1fr 1fr;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
#main-menu {
    margin: 100px var(--marginX);
    padding: 0px;
}
#main-menu li,
#work-list li {
    font-family: var(--sansSerifFont);
    font-style: normal;
    letter-spacing: var(--letterSpacing);
    list-style-type: none;
}
#main-menu li {
    /* background-color: red; */
    font-size: 116px;
    font-weight: 800;
    line-height: 140px;
    text-transform: uppercase;
    width: fit-content;
}
#main-menu li:hover {
    color: var(--accentColor);
    font-family: var(--serifFont);
    font-weight: 700;
    font-style: italic;
}
#work-list {
    margin-top: 40vh;
    visibility: hidden;
}
#work-list li {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%; /* 48px */
    text-transform: capitalize;
}

main {
    margin: var(--mainMarginY) var(--marginX);
}
#home main {
    display: grid;
    grid: 1fr/ 0.35fr 0.1fr 0.55fr;
    /* outline: 1px solid aqua; */
}

#intro {
    /* outline: 1px solid orange; */
    height: 100%;
}
#intro-contents {
    /* outline: 1px solid blueviolet; */
    top: var(--mainMarginY);
    position: sticky;
}
#intro-contents h1 {
    line-height: 96px;
}
#intro-contents h1 span {
    line-height: normal;
}
#work-gallery {
    /* outline: 1px solid greenyellow; */
}
#work-gallery h1 {
    margin-top: 20px;
}
#work-gallery article {
    margin-bottom: var(--bottomMargin);
}
.gallery-img {
    max-width: 715px;
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

/* project page stuff */
#project-hero {
    margin-bottom: var(--bottomMargin);
}
#project-hero figure {
    width: 100%;
    margin-bottom: 100px;
}
#project-description {
    display: grid;
    grid: 1fr/ 0.6fr 0.4fr;
}
#project-specs b {
    font-weight: 600;
}
#project-container {
    display: grid;
    grid: 1fr/0.25fr 0.75fr;
}
#toc-container {
    /* background-color: #4f2df2; */
}
#toc {
    position: sticky;
    top: var(--mainMarginY);
    border-right: 1px solid var(--textColor);
}
#toc li {
    list-style-type: none;
    font-family: var(--sansSerifFont);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 250%; /* 50px */
    letter-spacing: var(--letterSpacing);
    text-transform: uppercase;
}
#project-contents article {
    margin-left: 20px;
    margin-bottom: var(--bottomMargin);
}
#project-contents ol li {
    color: var(--textColor);
    font-family: var(--sansSerifFont);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: var(--letterSpacing);
    margin: 1em;
}

/* variables, basically */
:root {
    --serifFont: Canela;
    --sansSerifFont: PP Mori;
    --playFont: PP Neue Machina;
    --letterSpacing: -0.446px;
    --whiteColor: white;
    --blackColor: black;
    --textColor: black;
    --accentColor: #4f2df2;
    --marginX: 100px;
    --navMarginY: 50px;
    --mainMarginY: 112px;
    --bottomMargin: 110px;
}
